<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- templates/users/new.html -->
    <h1>New User</h1>
    <hr>
    <body>
        <form action="/users" method="post">
            <div>
                <label>
                    NickName:
                    <input type="text" name="name" value="{{ users.name|default('', true) }}">
                </label>
                {% if errors %}
                    <h4> {{ errors.name }}</h4>
                {% endif %}
            </div>
            <div>
                <label>
                    Email:
                    <input type="text" name="email" value="{{users.email|default('', true)}}">
                </label>
            </div>
            <input type="submit" value="Create">
        </form>
    </body>
</html>